mynewbook/_build/.doctrees/environment.pickle
mynewbook/_build/.doctrees/intro.doctree
mynewbook/_build/.doctrees/markdown-notebooks.doctree
mynewbook/_build/.doctrees/markdown.doctree
mynewbook/_build/.doctrees/notebooks.doctree
mynewbook/_build/html/.buildinfo
mynewbook/_build/html/genindex.html
mynewbook/_build/html/index.html
mynewbook/_build/html/intro.html
mynewbook/_build/html/markdown-notebooks.html
mynewbook/_build/html/markdown.html
mynewbook/_build/html/notebooks.html
mynewbook/_build/html/objects.inv
mynewbook/_build/html/search.html
mynewbook/_build/html/searchindex.js
mynewbook/_build/html/_images/a7a52b22adf7fc94d44d4ae8c80684960d682f2a33981e38e32f12000c519272.png
mynewbook/_build/html/_sources/intro.md
mynewbook/_build/html/_sources/markdown-notebooks.md
mynewbook/_build/html/_sources/markdown.md
mynewbook/_build/html/_sources/notebooks.ipynb
mynewbook/_build/html/_sphinx_design_static/design-style.1e8bd061cd6da7fc9cf755528e8ffc24.min.css
mynewbook/_build/html/_sphinx_design_static/design-tabs.js
mynewbook/_build/html/_static/basic.css
mynewbook/_build/html/_static/check-solid.svg
mynewbook/_build/html/_static/clipboard.min.js
mynewbook/_build/html/_static/copy-button.svg
mynewbook/_build/html/_static/copybutton_funcs.js
mynewbook/_build/html/_static/copybutton.css
mynewbook/_build/html/_static/copybutton.js
mynewbook/_build/html/_static/design-style.1e8bd061cd6da7fc9cf755528e8ffc24.min.css
mynewbook/_build/html/_static/design-tabs.js
mynewbook/_build/html/_static/doctools.js
mynewbook/_build/html/_static/documentation_options.js
mynewbook/_build/html/_static/file.png
mynewbook/_build/html/_static/language_data.js
mynewbook/_build/html/_static/logo.png
mynewbook/_build/html/_static/minus.png
mynewbook/_build/html/_static/mystnb.4510f1fc1dee50b3e5859aac5469c37c29e427902b24a333a5f9fcb2f0b3ac41.css
mynewbook/_build/html/_static/play-solid.svg
mynewbook/_build/html/_static/plus.png
mynewbook/_build/html/_static/pygments.css
mynewbook/_build/html/_static/sbt-webpack-macros.html
mynewbook/_build/html/_static/searchtools.js
mynewbook/_build/html/_static/sphinx_highlight.js
mynewbook/_build/html/_static/sphinx-thebe.css
mynewbook/_build/html/_static/sphinx-thebe.js
mynewbook/_build/html/_static/togglebutton.css
mynewbook/_build/html/_static/togglebutton.js
mynewbook/_build/html/_static/webpack-macros.html
mynewbook/_build/html/_static/images/logo_binder.svg
mynewbook/_build/html/_static/images/logo_colab.png
mynewbook/_build/html/_static/images/logo_deepnote.svg
mynewbook/_build/html/_static/images/logo_jupyterhub.svg
mynewbook/_build/html/_static/locales/ar/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ar/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/bg/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/bg/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/bn/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/bn/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ca/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ca/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/cs/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/cs/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/da/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/da/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/de/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/de/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/el/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/el/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/eo/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/eo/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/es/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/es/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/et/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/et/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/fi/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/fi/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/fr/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/fr/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/hr/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/hr/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/id/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/id/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/it/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/it/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/iw/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/iw/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ja/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ja/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ko/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ko/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/lt/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/lt/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/lv/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/lv/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ml/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ml/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/mr/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/mr/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ms/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ms/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/nl/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/nl/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/no/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/no/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/pl/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/pl/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/pt/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/pt/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ro/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ro/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ru/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ru/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/sk/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/sk/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/sl/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/sl/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/sr/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/sr/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/sv/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/sv/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ta/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ta/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/te/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/te/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/tg/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/tg/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/th/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/th/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/tl/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/tl/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/tr/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/tr/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/uk/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/uk/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/ur/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/ur/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/vi/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/vi/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/zh_CN/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/zh_CN/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/locales/zh_TW/LC_MESSAGES/booktheme.mo
mynewbook/_build/html/_static/locales/zh_TW/LC_MESSAGES/booktheme.po
mynewbook/_build/html/_static/scripts/bootstrap.js
mynewbook/_build/html/_static/scripts/bootstrap.js.LICENSE.txt
mynewbook/_build/html/_static/scripts/bootstrap.js.map
mynewbook/_build/html/_static/scripts/pydata-sphinx-theme.js
mynewbook/_build/html/_static/scripts/pydata-sphinx-theme.js.map
mynewbook/_build/html/_static/scripts/sphinx-book-theme.js
mynewbook/_build/html/_static/scripts/sphinx-book-theme.js.map
mynewbook/_build/html/_static/styles/bootstrap.css
mynewbook/_build/html/_static/styles/bootstrap.css.map
mynewbook/_build/html/_static/styles/pydata-sphinx-theme.css
mynewbook/_build/html/_static/styles/pydata-sphinx-theme.css.map
mynewbook/_build/html/_static/styles/sphinx-book-theme.css
mynewbook/_build/html/_static/styles/theme.css
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/LICENSE.txt
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/css/all.min.css
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/js/all.min.js
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/js/all.min.js.LICENSE.txt
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-brands-400.ttf
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-brands-400.woff2
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-regular-400.ttf
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-regular-400.woff2
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-solid-900.ttf
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-solid-900.woff2
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-v4compatibility.ttf
mynewbook/_build/html/_static/vendor/fontawesome/6.5.1/webfonts/fa-v4compatibility.woff2
mynewbook/_build/jupyter_execute/a7a52b22adf7fc94d44d4ae8c80684960d682f2a33981e38e32f12000c519272.png
mynewbook/_build/jupyter_execute/markdown-notebooks.ipynb
mynewbook/_build/jupyter_execute/notebooks.ipynb
mynewbook/_build/.doctrees/calculus/derivatives.doctree
mynewbook/_build/.doctrees/calculus/integrals.doctree
mynewbook/_build/.doctrees/calculus/intro.doctree
mynewbook/_build/.doctrees/calculus/series.doctree
mynewbook/_build/.doctrees/calculus/vector-calculus.doctree
mynewbook/_build/.doctrees/linear-algebra/determinants.doctree
mynewbook/_build/.doctrees/linear-algebra/eigenvalues.doctree
mynewbook/_build/.doctrees/linear-algebra/intro.doctree
mynewbook/_build/.doctrees/linear-algebra/linear-equations.doctree
mynewbook/_build/.doctrees/linear-algebra/linear-transformations.doctree
mynewbook/_build/.doctrees/linear-algebra/orthogonality.doctree
mynewbook/_build/.doctrees/linear-algebra/subspaces.doctree
mynewbook/_build/.doctrees/linear-algebra/svd.doctree
mynewbook/_build/.doctrees/linear-algebra/vectors-and-matrices.doctree
mynewbook/_build/html/_sources/calculus/derivatives.ipynb
mynewbook/_build/html/_sources/calculus/integrals.ipynb
mynewbook/_build/html/_sources/calculus/intro.md
mynewbook/_build/html/_sources/calculus/series.ipynb
mynewbook/_build/html/_sources/calculus/vector-calculus.ipynb
mynewbook/_build/html/_sources/linear-algebra/determinants.ipynb
mynewbook/_build/html/_sources/linear-algebra/eigenvalues.ipynb
mynewbook/_build/html/_sources/linear-algebra/intro.md
mynewbook/_build/html/_sources/linear-algebra/linear-equations.ipynb
mynewbook/_build/html/_sources/linear-algebra/linear-transformations.ipynb
mynewbook/_build/html/_sources/linear-algebra/orthogonality.ipynb
mynewbook/_build/html/_sources/linear-algebra/subspaces.ipynb
mynewbook/_build/html/_sources/linear-algebra/svd.ipynb
mynewbook/_build/html/_sources/linear-algebra/vectors-and-matrices.ipynb
mynewbook/_build/html/_static/ml-prep.png
mynewbook/_build/html/calculus/derivatives.html
mynewbook/_build/html/calculus/integrals.html
mynewbook/_build/html/calculus/intro.html
mynewbook/_build/html/calculus/series.html
mynewbook/_build/html/calculus/vector-calculus.html
mynewbook/_build/html/linear-algebra/determinants.html
mynewbook/_build/html/linear-algebra/eigenvalues.html
mynewbook/_build/html/linear-algebra/intro.html
mynewbook/_build/html/linear-algebra/linear-equations.html
mynewbook/_build/html/linear-algebra/linear-transformations.html
mynewbook/_build/html/linear-algebra/orthogonality.html
mynewbook/_build/html/linear-algebra/subspaces.html
mynewbook/_build/html/linear-algebra/svd.html
mynewbook/_build/html/linear-algebra/vectors-and-matrices.html
mynewbook/_build/jupyter_execute/calculus/derivatives.ipynb
mynewbook/_build/jupyter_execute/calculus/integrals.ipynb
mynewbook/_build/jupyter_execute/calculus/series.ipynb
mynewbook/_build/jupyter_execute/calculus/vector-calculus.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/determinants.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/eigenvalues.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/linear-equations.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/linear-transformations.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/orthogonality.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/subspaces.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/svd.ipynb
mynewbook/_build/jupyter_execute/linear-algebra/vectors-and-matrices.ipynb
